<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Hellllo Huyen, welcome to this node starter project.</h1>
    <p>This is the homepage of your Node.js application using MVC architecture.</p>
    <p> CLick <a href='/admin'>HERE</a> for admin page</p>
    <p> admin / password123 </p>
</body>
</html>
